:root {
  --Primary-Border: #4d4d4d;
  --Primary-White: #ffffff;
  --Seondary-BG: #262626;
  --Skeleton: linear-gradient(90deg, #3c3c3c 0%, #444444 51.04%, #333333 100%);
  --Primary-Red: #fa7272;
  --Red-Hover: #ff8888;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  background-color: transparent;
  transition: all 0.4s linear;
  cursor: pointer;
}
